html,body{
  height: 100%;
  margin: 0;
}
html{
  background-repeat: no-repeat;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
 
}

ul {
  list-style: none;
  font-family: Georgia, "Times New Roman", Times, serifs;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
